<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>You have new friend request!<%= @user.name %></h1>
<p>
  Dear <%= @user.name %>, you have new friend request from <%= @friend.name %>! Visit RailsSocial to approve it.<br/>
</p>
<p>Have a great day!</p>
</body>
</html>