      <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <h1 class="micropost">Friends news</h1>
            <%= render 'shared/news_feed' %>
          </td>
        </tr>
      </table>