<h1 class="micropost">
  Add post
</h1><br />
<%= form_for @micropost do |f| %>
    <div class="field">
      <%= f.text_area :content %>
      <%=f.hidden_field :user_id, :value => @user.id%>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>