
<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1>Hey there!</h1></br>
      <h3>This is another ridiculous social network written in Ruby. Considering it is actually my first application, and my web-design “talents” it's better to call it associal:>.</br>
      The guy at the top is  young Robert De Niro from the Taxi Driver, associal lone veteran of the Vietnam War. It was he who tell this legendary phrase "You talkin' to me? " to his reflection in the mirror.</br>
      So i find some simbolism in this logo.</h3>
    </td>
  </tr>
</table>
