<nav class="round + menu">
  <ul>
    <li>
      <%= link_to "Profile", current_user%>
    </li>
    <li>
      <%= link_to "Friends", current_user_friends_path, :class => 'brand' %>
    </li>
    <li>
      <%= link_to "News", news_path %>
    </li>
    <li>
      <%= link_to "Users", users_path %>
    </li>
  </ul>
</nav>